
/* Base
 *****************************************************************************/

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

body, button, input, select, textarea {
  background: $body_bg_color;
  color: $body_color;
  font-family: $sans_norm;
}

body {
  background: $body_bg;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $hr_color;
}

::-moz-selection {
  background: $select_bg;
  color: $select_color;
  text-shadow: none;
}

::selection {
  background: $select_bg;
  color: $select_color;
  text-shadow: none;
}

/* Links
 *****************************************************************************/

a {
  @include link_transition(0.25s);
  color: $link_static;
  text-decoration: none;
}

a:visited {
  color: $link_visited;
  text-decoration: none;
}

a:focus {
  /* outline: thin dotted; */
  outline: 0;
}

a:hover, a:active {
  @include link_transition(0.25s);
  outline: 0;
  text-decoration: none;
}

a:hover {
  color: $link_hover;
}

a:active {
  color: $link_active;
}

a:link {
  -webkit-tap-highlight-color: $tap_highlight;
}

