
/* Containers
 *****************************************************************************/

#container {
  width: 992px;
  overflow: hidden;
  margin: 0 auto;
}

#content {
  width: 992px;
  display: inline-block;
  margin: 75px 11px;
  margin-bottom: 75px;
  margin-top: 75px;
}

footer {
  margin: 0 0 75px 0;
  border-top: 1px solid $hr_color;
  font-size: 10px;
  text-transform: uppercase;

  nav ul {
    margin: 8px 0 0;
  }

  nav ul li {
    display: inline;
    margin: 0 24px 0 0;

    a, a:visited {
      color: $mdgrey;
    }

    a:hover {
      color: $link_hover;
    }

    .img {
      background: #fff url(../images/011-jibjab-19x10.png) no-repeat top left;
      margin: 1px 15px 0 11px;
      float: left;
      width: 19px;
      height: 10px;
    }
  }
}

