
.row {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.row .row {
  margin: 0 -5px;
  width: auto;
  display: inline-block;
}

.col-01, .col-02, .col-03, .col-04, .col-05, .col-06,
.col-07, .col-08, .col-09, .col-10, .col-11, .col-12 {
  margin: 0 5px 0 5px;
  overflow: hidden;
  float: left;
  display: inline;
}

.col-01 { width: 70px; }
.col-02 { width: 150px; }
.col-03 { width: 230px; }
.col-04 { width: 310px; }
.col-05 { width: 390px; }
.col-06 { width: 470px; }
.col-07 { width: 550px; }
.col-08 { width: 630px; }
.col-09 { width: 710px; }
.col-10 { width: 790px; }
.col-11 { width: 870px; }
.col-12 { width: 950px; }

.row.gutter-00, .row.gutter-01, .row.gutter-02, .row.gutter-03, .row.gutter-04,
.row.gutter-05, .row.gutter-06, .row.gutter-07, .row.gutter-08, .row.gutter-09,
.row.gutter-10, .row.gutter-11, .row.gutter-12 {
  float: none;
}

.gutter-00 { padding-bottom: 0; }
.gutter-01 { padding-bottom: 5px; }
.gutter-02 { padding-bottom: 10px; }
.gutter-03 { padding-bottom: 15px; }
.gutter-04 { padding-bottom: 20px; }
.gutter-05 { padding-bottom: 25px; }
.gutter-06 { padding-bottom: 30px; }
.gutter-07 { padding-bottom: 35px; }
.gutter-08 { padding-bottom: 40px; }
.gutter-09 { padding-bottom: 45px; }
.gutter-10 { padding-bottom: 50px; }
.gutter-11 { padding-bottom: 55px; }
.gutter-12 { padding-bottom: 60px; }

