
/* normalize.css: http://necolas.github.com/normalize.css/ */

/* HTML5
 *****************************************************************************/

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block;
}

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Base
 *****************************************************************************/

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 1.231;
}

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #000;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid;
  margin: 0;
  padding: 0;
}

/* Links
 *****************************************************************************/

a {
}

a:visited {
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

/* Typography
 *****************************************************************************/

acronym[title],
abbr[title],
dfn {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote {
  margin: 1em 40px;
}

q {
  quotes: none;
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 85%;
}

big {
  font-size: 115%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists
 *****************************************************************************/

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Embedded Content
 *****************************************************************************/

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figures
 *****************************************************************************/

figure {
  margin: 0;
}

/* Forms
 *****************************************************************************/

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

label {
  cursor: pointer;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input:valid, textarea:valid {
}

input:invalid, textarea:invalid {
}

/* Tables
 *****************************************************************************/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

