
/* Load me some typefaces */
@font-face {
    font-family: 'HelveticaNeueLTStd55Roman';
    src: url('../fonts/helveticaneueltstd-roman-webfont.eot');
    src: url('../fonts/helveticaneueltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-roman-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-roman-webfont.svg#HelveticaNeueLTStd55Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd75Bold';
    src: url('../fonts/helveticaneueltstd-bd-webfont.eot');
    src: url('../fonts/helveticaneueltstd-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-bd-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-bd-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-bd-webfont.svg#HelveticaNeueLTStd75Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* fonts */
$sans_norm: "HelveticaNeueLTStd55Roman", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$sans_bold: "HelveticaNeueLTStd75Bold", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

/* colors */
$dkgrey: #434343;
$grey: #5b5e5b;
$mdgrey: #7d7e7c;
$ltgrey: #9f9f9f;
$blue: #0091ce;
$ltblue: #7fddf1;
$cyan: #00bce4;
$white: #fff;
$black: #000;

/* base.scss */
$body_bg_color: $white;
$body_bg: $white;
$body_color: $mdgrey;

$hr_color: #cfd0cf;
$select_bg: $blue;
$select_color: $body_bg_color;

$link_static: $grey;
$link_visited: $grey;
$link_active: $grey;
$link_hover: $blue;
$link_highlight: $ltgrey;
$util_highlight: $dkgrey;
$tap_highlight: $blue;

$p_link_static: $cyan;
$p_link_hover: $dkgrey;

/* import the styles */
@import 'general/normalize';
@import 'general/mixins';
@import 'general/base';
@import 'general/typography';
@import 'general/elements';
@import 'general/helpers';
@import 'general/containers';
@import 'general/queries';

