
/* base.scss */
$body_bg_color: #fff;
$body_bg: #fff;
$body_color: #000;
$body_fonts: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$hr_color: #ff00ff;
$select_bg: #999;
$select_color: $body_color;

$link_static: blue;
$link_visited: cyan;
$link_active: purple;
$link_hover: magenta;
$tap_highlight: blue;

$header_color: $body_color;

/* import the styles */
@import 'general/normalize';
@import 'general/base';
@import 'general/grid';
@import 'general/helpers';
@import 'general/media';
@import 'general/print';
