<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>bit theory.</title>

  <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
  <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" title="no title" charset="utf-8"/>

  <!--[if IE]><link href="css/ie.css" type="text/css" rel="stylesheet" media="screen"/><![endif]-->
  <!--[if IE 6]><link href="css/ie6.css" type="text/css" rel="stylesheet" media="screen"/><![endif]-->
  
</head>

<body>

  <div class="row top">
    <div class="column grid_9"><h1>bit theory<span class="blue">.</span></h1></div>
  </div>
  <div class="spacer">
  <div class="row">
    <div class="column grid_12">
    </div>
  </div>
</div>
  <div class="row articles">
    {{ content }}
  </div>
  <div class="footer">
    <div class="row">
      {% if page.url == '/index.html' or page.url == '/' %}<div class="column grid_2"><h4><strong><a href="index.html">who we are</a></strong></h4></div>{% else %}<div class="column grid_2"><h4><a href="index.html">who we are</a></h4></div>{% endif %}
      {% if page.url == '/services.html' %}<div class="column grid_2"><h4><strong><a href="services.html">services</a></strong></h4></div>{% else %}<div class="column grid_2"><h4><a href="services.html">services</a></h4></div>{% endif %}
      {% if page.url == '/contact.html' %}<div class="column grid_2"><h4><strong><a href="contact.html">contact</a></strong></h4></div>{% else %}<div class="column grid_2"><h4><a href="contact.html">contact</a></h4></div>{% endif %}
			{% if page.url == '/jobs.html' %}<div class="column grid_2"><h4><strong><a href="jobs.html">jobs</a></strong></h4></div>{% else %}<div class="column grid_2"><h4><a href="jobs.html">jobs</a></h4></div>{% endif %}
      <div class="column grid_2"><p><a href="mailto:info@bittheory.com">info@bittheory.com</a></p></div>
    </div>
  </div>
  
</body>
</html>
