.nagari {
  margin: 0 0 25px 0;
}
.nagari .nagari-header,
.nagari .nagari-section,
.nagari .nagari-subsection {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font: 13px/1.231 sans-serif;
  color: #666;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px dotted #666;
}
.nagari .nagari-header a,
.nagari .nagari-section a,
.nagari .nagari-subsection a {
  color: #268bd2;
  text-decoration: none;
}
.nagari .nagari-header a:hover,
.nagari .nagari-section a:hover,
.nagari .nagari-subsection a:hover {
  color: #666;
  text-decoration: underline;
}
.nagari .nagari-header h2,
.nagari .nagari-section h2,
.nagari .nagari-subsection h2 {
  font-size: 18px;
  line-height: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.nagari .nagari-header h2 a,
.nagari .nagari-section h2 a,
.nagari .nagari-subsection h2 a {
  color: #666;
}
.nagari .nagari-header h2 a:hover,
.nagari .nagari-section h2 a:hover,
.nagari .nagari-subsection h2 a:hover,
.nagari .nagari-header h2 a.active,
.nagari .nagari-section h2 a.active,
.nagari .nagari-subsection h2 a.active {
  color: #268bd2;
  text-decoration: none;
}
.nagari .nagari-header {
  border-bottom: 1px solid #666;
  margin-bottom: 50px;
  height: 25px;
}
.nagari .nagari-header ul {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font: 13px/1.231 sans-serif;
  color: #666;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
}
.nagari .nagari-header li {
  float: left;
  margin-right: 20px;
}
.nagari .nagari-header li span {
  color: #268bd2;
}
.nagari .nagari-subsection {
  border: none;
  border-top: 1px dotted #666;
  color: #268bd2;
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
}
.nagari .nagari-subsection:first-child {
  margin: 0;
  border: none;
}
.nagari .sherpa,
.nagari .sherpa-colorbox {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font: 13px/1.231 sans-serif;
  color: #666;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  background-color: rgba(211,54,130,0.5);
  text-align: center;
}
.nagari .sherpa-colorbox {
  float: left;
  font-size: 9px;
  width: 60px;
  padding-top: 50px;
}
.nagari .nagari-content {
  margin: 25px 0 50px 0;
  overflow: hidden;
}
.nagari .nagari-content .nagari-note,
.nagari .nagari-content .nagari-todo {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font: 13px/1.231 sans-serif;
  color: #666;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}
.nagari .nagari-content .nagari-todo {
  color: #d33682;
}
.nagari .nagari-content.expanded {
  display: block;
}
.nagari .nagari-content.collapsed {
  display: none;
}

